@model Sklep.Data.Model.News
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>O Nas</h5>
<p></p>
<p>
    Internetowy sklep zoologiczny online powstał w 2023 roku z miłości do zwierząt domowych, 
    który szybko stał się pionierem oraz liderem na rynku e-commerce dla zwierząt domowych. 
    Stawiamy na rozwój pozytywnych relacji opartych na zaufaniu, doświadczeniu i przyjaźni z naszymi Klientami. 
    Dzięki sprawnemu działaniu naszego magazynu możemy się pochwalić szybką dostawą do Klienta - zamówienie składane do 14.00,
    wysyłamy tego samego dnia.
</p>
<p>
    Dla naszych Klientów przygotowaliśmy program lojalnościowy, szereg promocji, ofert specjalnych i kodów rabatowych, 
    który czyni nasz szeroki asortyment bardzo atrakcyjnym.
</p>
<p></br></p>

<h6>Dlaczego warto robić zakupy w Sklep Zoologiczny Online?</h6>
<p></p>
<p>
    Kierujesz się przede wszystkim dobrem swojego pupila podczas wyboru karm i akcesoriów? 
    Poszukujesz sklepu z doświadczeniem i profesjonalną obsługa, która odpowie na Twoje pytania? 
    Trafiłeś we właściwe miejsce - zapraszamy do zapoznania się z największymi zaletami naszego sklepu internetowego.
</p>