   <!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/lib/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="~/lib/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s4 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">O sklepie</h5>

                    <p class="light">Sklep zoologiczny online to przede wszystkim ogromna wygoda zakupów, 
                        połączona z pewnością względem klasy dostępnych artykułów.</p>
                </div>
            </div>

            <div class="col s4 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">O firmie</h5>

                    <p class="light">Sklep Zoologiczny to miejsce, które stworzono z pasji i miłości do zwierząt domowych. 
                        To właśnie dlatego misją marki stało się sprostanie wszelkim wymaganiom, potrzebom oraz preferencjom pupili, 
                        a także oczekiwaniom ich opiekunów. Każdego dnia dokładamy wszelkich starań, aby czynić życie odrobinę łatwiejszym, 
                        poprzez promowanie i oferowanie szeregu wysokojakościowych produktów, dostępnych w jednym miejscu.</p>
                </div>
            </div>

            <div class="col s4 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">O towarach</h5>

                    <p class="light">W asortymencie sklepu zoologicznego online znajdziesz najrozmaitsze produkty z kategorii karma 
                        dla psa i karma dla kota. Bez względu na to, jak duży jest Twój wierny przyjaciel i ile waży, 
                        bez najmniejszego problemu będziesz w stanie skompletować mu zbilansowany posiłek w konkurencyjnej cenie. 
                        W Sklepie Zoologicznym codziennie pracujemy nad poszerzaniem oferty produktów dla zwierząt o najbardziej potrzebne i praktyczne
                        akcesoria dla psa i żwirki i akcesoria dla kota.</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>

    <div class="section">
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Sklep - Grzegorz Kasperowicz - WSB-NLU   @Html.ActionLink("Kup teraz", "Privacy", "Home")
    </div>
</footer>